{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Copper
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 100px">
        <div class="col-sm-2 col-xs-2" style="padding: 0 0 0 0">
            <h4 class="text-center">Категории</h4>
            <hr>
            <ul class="nav nav-stacked">
                <li {% if not category %} class="selected" {% endif %}>
                    <a href="{% url "shop:ProductList" %}"><strong>Все</strong></a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="main" class="product_list col-sm-10 col-xs-10">
            <h4 style="margin-left: 5%">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h4>
            <hr style="margin: 0 -15px 0 -15px">
            <div class="items row-fluid">
                {% for product in products %}
                    <div class="item col-sm-3">
                        <a href="{{ product.get_absolute_url }}" class="item simple">
                            <img height="220" src="
                                    {% if product.image %}{{ product.image.url }}
                                    {% else %}{% static "img/no-img.jpg" %}
                                    {% endif %}">
                        </a><br>
                        <div class="col-sm-12"
                             style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 15px">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        </div>
                        {{ product.price }} руб.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

