{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}
{% block content %}
    <h1>Ваша корзина</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Полная стоимость</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" width=auto height="80" alt="" />
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td width="10%">
                            <div class="input-group">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default btn-number btn-sm" data-type="minus" data-field="quant">
                                      <span class="glyphicon glyphicon-minus"></span>
                                  </button>
                              </span>
                              <input data-id="{{ product.id }}" style="min-width:4em" type="text" name="quant" class="form-control input-number input-sm text-center" value="{{ item.quantity }}" min="1" max="30" maxlength="2">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default btn-number btn-sm" data-type="plus" data-field="quant">
                                      <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                              </span>
                            </div>
                        </td>
                        <td class="num">{{ item.price }} руб.</td>
                        <td data-id="{{ product.id }}" class="num">{{ item.total_price }} руб.</td>
                         <td><a href="{% url "cart:CartRemove" product.id %}">Удалить</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Всего</td>
                <td colspan="4"></td>
                <td id="total-price" class="num">{{ cart.get_total_price }} руб.</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right" style="margin-bottom: 70px">
        <a href="{% url "shop:ProductList" %}" class="btn">Продолжить покупки</a>
        <a href="{% url "orders:OrderCreate" %}" class="btn">Оформить покупки</a>
    </p>
{% endblock %}
{% block bottom_script %}
    {{ block.super }}
    <script type="application/javascript">
        var URL_QUANTITY="{% url "cart:cart_change_quantity" %}";
    </script>
    <script src="{% static 'js/plus-minus.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
