{% extends 'shop/base.html' %}
{% load widget_tweaks %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 70px">
        <div class="col-sm-12">
            <h3>Оформление заказа</h3>
            <hr>
            <div class="col-sm-3" style="background-color: whitesmoke">
                <h4>Заполните форму</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group form-group-sm">
                            <label style="font-size: 12px; margin-top: -5px;">{{ field.label_tag }}</label>
                            {% render_field field class="form-control"; style="margin-bottom: -9px; margin-top: -7px" %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Отправить">
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h4>Ваш заказ</h4>
                <ol>
                    {% for item in cart %}
                        <li>{{ item.product.name }}, {{ item.quantity }} шт.</li>
                    {% endfor %}
                </ol>
                <p>Сумма к оплате: {{ cart.get_total_price }}</p>
            </div>
        </div>
    </div>
{% endblock %}
