{% extends 'shop/base.html' %}
{% load widget_tweaks %}
{% block title %}Изменение email{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-xs-6 col-xs-offset-1 col-sm-offset-1" style="background-color: whitesmoke">
            <h3>Изменение email</h3>
            <hr>
            {% if success %}
                <p style="color: green"><strong>Email изменен!</strong></p>
            {% endif %}
            <p>Ваш текущий email: <strong>{{ user.email }}</strong></p>
            <form class="order-form" action="." method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control"; style="border: 1px solid #e50000"  %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback" style="color: #e50000">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Изменить">
            </form>
            <p><a href="{% url 'users:profile' user.pk %}">Вернуться в Личный кабинет</a></p>
        </div>
    </div>
{% endblock %}
