{% extends 'shop/base.html' %}
{% block title %}Изменение email{% endblock %}
{% block content %}
    <h3>Изменение email</h3>
    <p><a href="{% url 'users:profile' user.pk %}">Личный кабинет</a></p>
    <div class="col-sm-4">
        <p>Ваш текущий email: {{ user.email }}</p>
        <form class="order-form" action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить">
        </form>
    {% if success %}
        <p>Email изменен!</p>
    {% endif %}
    </div>
{% endblock %}
