{% extends 'shop/base.html' %}
{% block title %}Изменение email{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1" style="background-color: whitesmoke">
            <h3>Изменение email</h3>
            <hr>
            <p>Ваш текущий email: {{ user.email }}</p>
            <form class="order-form" action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Изменить">
            </form>
            {% if success %}
                <p>Email изменен!</p>
            {% endif %}
            <p><a href="{% url 'users:profile' user.pk %}">Вернуться в Личный кабинет</a></p>
        </div>
    </div>
{% endblock %}
