{% extends 'shop/base.html' %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 70px">
        <div class="col-sm-6 col-sm-offset-1" style="background-color: whitesmoke">
            <h3>Редактирование профиля</h3>
            <hr>
            <form class="order-form" action="." method="post">
                {% csrf_token %}
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-6">
                        <p style="text-align: center"><strong>Личные данные</strong></p>
                        {{ form1.as_p }}
                    </div>
                    <div class="col-sm-6">
                        <p style="text-align: center"><strong>Адрес</strong></p>
                        {{ form2.as_p }}
                    </div>
                </div>
                <input type="submit" value="Сохранить">
            </form>
            {% if success %}
                <p>Профиль изменен!</p>
            {% endif %}
            <p><a href="{% url 'users:profile' user.pk %}">Вернуться в Личный кабинет</a>
            </p>
        </div>
    </div>
{% endblock %}
