{% extends 'shop/base.html' %}
{% load widget_tweaks %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 70px">
        <div class="col-sm-6 col-xs-6 col-xs-offset-1 col-sm-offset-1" style="background-color: whitesmoke">
            <h3>Редактирование профиля</h3>
            <hr>
            {% if success %}
                <p style="color: green"><strong>Профиль изменен!</strong></p>
            {% endif %}
            <form class="order-form" action="." method="post">
                {% csrf_token %}
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-6">
                        <p style="text-align: center"><strong>Личные данные</strong></p>
                        {% for field in form1.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <p style="text-align: center"><strong>Адрес</strong></p>
                        {% csrf_token %}
                        {% if form2.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form2.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for field in form2.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if form2.is_bound %}
                                    {% render_field field class="form-control" %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <input type="submit" value="Сохранить">
            </form>
            <p><a href="{% url 'users:profile' user.pk %}">Вернуться в Личный кабинет</a>
            </p>
        </div>
    </div>
{% endblock %}
