{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Восстановление пароля{% endblock %}</title>
    <!--Styles-->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h3 class="text-center"><a class="btn btn-lg btn-default" href="{% url 'shop:ProductList' %}" role="button">Copper Shop</a></h3>
    <div class="col-sm-4 col-sm-offset-4" style="background-color: whitesmoke">
        <h3>Восстановление пароля</h3>
        <p>Для восстановления пароля укажите e-mail, привязанный к вашему профилю.</p>
        <form class="order-form" action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="center-block" type="submit" value="Отправить">
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
