{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="header">
        <div class="top container">
            <a href="{% url 'shop:ProductList' %}" class="shop_title">Онлайн магазин "Copper"</a>
        </div>
        <div class="top-bl">
            <div class="container">
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                        <a href="{% url "cart:CartDetail" %}" class="text-warning">
                            <span class="glyphicon glyphicon-shopping-cart"></span> <strong>Корзина : {{ cart.get_total_price }} руб.</strong>
                        </a>
                        {% else %}
                            <span class="glyphicon glyphicon-shopping-cart"></span> <strong>Корзина пуста</strong>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="top-left">
            <a href="{% url 'users:create_user' %}">Личный кабинет</a>
        </div>
    </section>
    <section id="content" class="container row">
        {% block content%}{% endblock %}
    </section>
</body>
</html>